{% extends 'base.html'%}


{% block content %}



<br/>

{% if api %}
    {% if api == 'Chiiispas, something went wrong'%}
        Se cuatrapeó el system
    {% else%}
    <div class="jumbotron {{ category_color }}">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">{{ api.0.Category.Name }} </h1>
          <hr class="col-md-8 fs-4">
            <p> Air quality in {{ api.0.ReportingArea }} is : {{ api.0.AQI }}</p>
            <p> esto significa que:
             <p> {{ category_description}}</p>

          <button class="btn btn-primary btn-lg" type="button">Learn more</button>
        </div>
      </div>
        

    {% endif%}
{% endif %}


{% endblock  %}

